.header {
 background: url("https://upload.cc/i/9fQUgG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header h1.logo {
  font-family: "signpainter";
  margin-top: 5px;
  text-align: center;
  margin-bottom: 0;
  font-weight: 1;
  font-size: 28px;
  font-align: center;
}
.header h1.logo a {
  color: #fff;
}

.header .main-nav .navbar-toggle {
  margin-right: 0;
  margin-top: 0;
  background: none;
  position: absolute;
  right: 10px;
  top: 5px;
}

.header .main-nav .navbar-toggle .icon-bar {
  background-color: rgba(255, 255, 255, 0.6);
  height: 3px;
}
.header .main-nav .navbar-toggle:hover .icon-bar {
  background-color: #fff;
}
.maps {
    max-width: 90%;
  display: block;
    margin: 10px auto;
  margin-bottom: 5px;
  margin-top: 15px;
}

.row {
  background: transparent;
  margin-bottom: 20px;
}

h2 {
  font-family: "Helvetica";
  color: rgb(180,180,180);
  font-size: 15px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.fakeButton {
background: #023e59; 
background: -webkit-linear-gradient(to left, #085f75, #034260, #035355); 
background: linear-gradient(to left, #085f75, #034260, #035355); 
  padding: 10px 55px;
  width: 60%;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 50% auto;
}

.fakeButton:hover {
  background: #1b788e;
  color: #fff;
  text-decoration: none;
}
.who {
  padding: 80px 0;
}
.who .title {
  font-size: 30px;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 750;
  color: #;
  margin-top: 0;
  margin-bottom: 12px;
}
.who .intro {
  margin: 0 auto;
  max-width: 600px;
  color: #666;
  font-size: 18px;
  color: #65758e;
  margin-bottom: 40px;
  font-weight: 300;
}

#box {
background: #023e59; 
background: -webkit-linear-gradient(to left, #085f75, #034260, #035355); 
background: linear-gradient(to left, #085f75, #034260, #035355); 
  padding: 1%;
  margin: 30px auto;
  margin-top: 10px;
}

h3 {
  font-size: 15px;
  color: #fff;
  font-family: "Russo One", arial, sans-serif;
  text-align: center;
  margin: 5px;
  margin-top: 5px;
}
h3.title {
  font-family: "Russo One", arial, sans-serif;
  display: inline-block !important;
}

#box2 {
background: rgba(180,180,180,0.15);
  padding: 1%;
  margin: 30px auto;
  margin-bottom: 50px 60px;
}

h4 {
  font-size: 13px;
  color: #95959e;
  font-family: "Russo One", arial, sans-serif;
  text-align: left;
  margin: 10px;
}
h4.title {
  font-family: "Russo One", arial, sans-serif;
  display: inline-block !important;
}

.button {
    background: rgba(180,180,180,0.3);
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 6px;
    margin-left: 80px;
    cursor: pointer;
}
.button2 {
  background-colour: 000;
    max-width:75%;
    margin: 5px auto;
  margin-bottom: 5px;
  margin-top: 10px;
}

#container{
  max-width:80%;
  margin: 5px auto;
  margin-bottom: 5px;
}
#container
{
  max-height:80%;
  max-width:80%;
}
#container img
{
  max-width:100%; 
  max-height:100%;
  margin:auto;
  display:block;
}